:root {
	--actual-height: 60vh;
  --main-width: 100%;
  --header-height: 4rem;
	--small-border: 0.1rem solid #00000022;
	--grid-width: 36rem;
	--text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.75);

	--slide-left: translateX(1rem);
	--slide-up: translateY(1rem);
}

*, * *, * * * {
	box-sizing: border-box;
}

hr {
	width: 100%;
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25rem;
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	display: flex;
	flex-direction: column;
	min-height: calc(var(--actual-height) - 1px);
	overflow-x: hidden;
}

body.light-theme {
	--main-bg-color: #ddd;
  --main-text-color: #222;
  --header-color: #616161;
  --header-text-color: #a1c3a1;
	--text-highlight-color: rgb(160, 128, 68);
	--link-text-color: rgb(73, 105, 32);
	--button-color: rgb(122, 122, 122);
}

body.dark-theme {
  --main-bg-color: #222;
	--main-text-color: #ddd;
  --header-color: #150d0d;
  --header-text-color: #5f835f;
	--text-highlight-color: rgb(160, 128, 68);
	--link-text-color: rgb(73, 105, 32);
	--button-color: rgb(33, 31, 31);
}

body::after {
	content: '';
	position: fixed;
	width: 100vw;
	height: var(--actual-height);
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity 300ms ease;
	pointer-events: none;
}

body.veiled::after {
	opacity: 0.75;
	pointer-events: all;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin: 1rem;
	transition: all 300ms ease;
	transition-delay: 100ms;
}

main.obscured {
	opacity: 0;
	transform: var(--slide-left);
}

header, footer {
	width:100%;
	background:var(--header-color);
  color: var(--header-text-color);
  display: flex;
  align-items: center;
}

header {
  height: var(--header-height);
  padding: 1rem 0 1rem 1rem;
  top: 0;
	justify-content: space-between;
}

header h1 {
  font-size: 1.25rem;
}

header a {
	color: unset;
}

#login-status-message {
	color: #ffffff56;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	gap: 0.15rem;
	padding-right: 1rem;
}

#login-status-message > span:last-of-type {
	width: max-content;
	font-weight: bold;
}

#login-status-message {
	text-align: right;
	flex-grow: 1;
	font-size: calc(var(--header-height) / 4);
}

#menu-button-area {
	width: max-content;
	height: calc(var(--header-height));
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu-button {
	width: 100%;
	height: 100%;
	background-color: #ffffff66;
	border: 0;
	margin: 0;
	transition: all 300ms ease;
}

body.menu-open #menu-button {
	scale: 0.9;
}

body.menu-open #settings-menu {
	translate: 0 0;
}

#settings-menu {
	position: absolute;
	right: 0;
	top: var(--header-height);
	background-color: var(--main-bg-color);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--header-height) var(--header-height);
	translate: 100% 0;
	transition: all 300ms ease;
	z-index: 2;
}

#settings-menu > .menu-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0 1rem;
	border: var(--small-border);
}

#settings-menu select {
	min-width: unset;
	width: max-content;
}

#settings-menu > div:nth-child(odd) {
	background-color: #00000022;
}

#settings-menu > div:nth-child(even) {
	background-color: #00000022;
}

footer {
  height: calc(var(--header-height) / 2);
  justify-content: space-between;
	padding: 0 0.5rem;
}

.view-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.view-body.home {
	gap: 2.5rem;
	margin-top: 1.5rem;
}

.dashboard-section {
	position: relative;
	border: var(--small-border);
	border-radius: 0.5rem;
	padding: 0 1rem;
	padding-top: 1rem;
	background-color: #00000011;
}

.dashboard-section:first-of-type {
	background-color: #cfe9ccbd;
}

.dashboard-section:first-of-type > .floating-header {
	background-color: rgb(184, 251, 184);
}

.dashboard-section:last-of-type {
	background-color: #e8e9ccbd;
}

.dashboard-section:last-of-type > .floating-header {
	background-color: rgb(255, 248, 212);
}

.floating-header {
	margin: 0;
	position: absolute;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 1rem;
	translate: 0 -50%;
	background-color: rgb(198, 219, 198);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: var(--small-border);
}

span.highlighted {
  color: var(--text-highlight-color);
}

a {
	color: var(--link-text-color);
	text-decoration: none;
	font-weight: bold;
	transition: text-shadow 400ms ease;
}

.view-header {
	height: var(--header-height);
	display: flex;
	align-items: center;
}

.view-header > h2 {
	margin: 0;
}

h3 {
	margin: 0.5rem 0;
}

ul {
	list-style-type: none;
	width: 95vw;
	min-width: 20rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* margin: 2rem 0; */
	margin-top: 0;
	margin-bottom: 2rem;
}

li {
	position: relative;
	background-color: #ffffff22;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

textarea {
  height: 4rem;
}

form {
	display: flex;
	flex-direction: column;
	width: min-content;
}

.form-row {
	position: relative;
}

form > .form-row, .info-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
  gap: 1rem;
  background-color: #00000024;
  /* margin: 1rem; */
  min-width: max-content;
}

.form-row:last-of-type {
	margin-bottom: 1rem;
}

.form-row.text-area > input {
	height: 4rem;
}

form > .form-row.form-grid {
	display: grid;
	grid-template-columns: 1fr 10rem 10rem;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	width: var(--grid-width);
	align-self: center;
}

form > .form-row.form-grid > h3 {
	margin: 0;
	width: 100%;
	grid-column-end: 3;
	text-align: center;
}

form > .form-row.form-grid > * {
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-grid .day-label {
	grid-column-start: 1;
}

.form-grid .start-time {
	grid-column-start: 2;
}
.form-grid .end-time {
	grid-column-start: 3;
}

.form-text-input-area > span:first-of-type {
  width: max-content;
}
.form-text-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 22rem;
  min-width: 22rem;
}

input, select, textarea {
	padding: 0.25rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
  min-width: 10rem;
}

input[type="number"] {
	width: 3rem;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 1rem;
	background-color: var(--button-color);
	color: #eee;
	cursor: pointer;
	transition: color 400ms ease, background-color 200ms ease;
  border: var(--small-border);
}

form > button {
	width: 12rem;
	align-self: center;
}

button.green {
	background-color: green;
}

button.yellow {
	background-color: rgb(152, 152, 0);
	min-width: 5.5rem;
}

button.red {
	background-color: rgb(159, 0, 0);
	width: max-content;
	min-width: 5.5rem;
}

button:hover {
	color: rgb(169, 236, 246);
	background-color: blue;
}
button:active {
	scale: 0.9;
}

.button-area {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}

.button-footer {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.editing-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.editing-header > .button-area {
	margin: 0;
}

.description-area > div, .info-area {
	border: var(--small-border);
	border-radius: 0.25rem;
	padding: 1rem;
	display: inline-block;
	font-style: italic;
	opacity: 0.8;
}

.description-area {
	margin: 1rem 0;
}

.specifications-area {
	display: flex;
	flex-direction: column;
}

.specifications-area > div {
	padding: 1rem;
}

.specifications-area > div:nth-child(odd) {
	background-color: #00000011;
}

.specifications-area > div:nth-child(even) {
	background-color: #00000022;
}

.info-area {
	border: 0;
	padding: 0;
	margin-bottom: 2rem;
}

.info-row {
	font-style: normal;
	padding: 0;
  gap: 1rem;
  margin: 0rem;
	padding: 1rem;
}

.info-row:nth-child(even), form > .form-row:nth-child(even) {
	background-color: #0000000e;
}
.info-row:nth-child(odd), form > .form-row:nth-child(odd) {
	background-color: #00000024;
}

.week-display {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.available-days-grid, .week-display-grid {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	grid-template-rows: repeat(8, 2.5rem);
	width: var(--grid-width);
	align-self: center;
	margin-bottom: 2rem;
}

.week-display-grid {
	font-size: 0.9rem;
	grid-template-columns: repeat(24, 1fr);
	width: calc(var(--main-width) / 1.5);
	/* gap: 0.5rem; */
}

.week-display-grid > .day-graph-row {
	position: relative;
	grid-column-start: 1;
	grid-column-end: span all;
	display: flex;
	justify-content: space-between;
}
.week-display-grid > .day-graph-row:nth-of-type(even) {
	background-color: #00000011;
}

.day-graph-row > .day-graph-cell {
	background-color: #ffffff33;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.day-graph-row > .day-graph-cell:nth-of-type(even) {
	background-color: #ffffff22;
}

.day-graph-row > .day-graph-cell.filled {
	background-color: green;
}

.day-row.labels {
	background-color: transparent !important;
	font-weight: bold;
}

.day-row {
	grid-column-start: 1;
	grid-column-end: span 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	/* border: var(--small-border);  */
}
.day-row:first-of-type {
	border: var(--small-border); 
}

.day-row > div {
	width: 6rem;
	text-align: right;
}

.day-row > div:nth-child(1) {
	flex-grow: 1;
	text-align: left;
}

.day-row:nth-of-type(odd) {
	background-color: #00000022;
}
.day-row:nth-of-type(even) {
	background-color: #00000011;
}

form {
	min-width: var(--main-width);
}

.edit-form .form-row {
	width: var(--main-width);
}

.form-row.text-area textarea {
	height: 8rem;
	width: 30rem;
	max-width: 60vw;
}

.capsule-list {
	width: var(--main-width);
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	/* justify-content: center; */
}

.home .capsule-list {
	padding: 1.5rem 0 0 0;
}

.capsule-list li {
	width: max-content;
	min-height: 6rem;
	padding: 0 1.5rem;
	min-width: 10rem;
	justify-content: space-between;
	gap: 0 1rem;
	opacity: 0.8;
	transition: scale 200ms ease, opacity 200ms ease;
	border: var(--small-border);
}

.capsule-list li:hover {
	scale: 1.05;
	opacity: 1;
}

.engineer-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.capsule-list form {
	min-width: unset;
}

.engineer-list li {
	background-color: rgb(184, 251, 184);
	min-width: 14rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
}

.machine-list li {
	background-color: rgb(255, 248, 212);
}

.dropdown-form {
	min-width: unset;
}

.error-message {
	position: absolute;
	top: 0;
	right: 0.25rem;
	width: max-content;
	font-size: 1rem;
	/* font-weight: bold; */
	color: red;
}

.error-message.overlap {
	animation: flash-on 2000ms ease forwards;
}

.dropdown-empty-message {
	font-weight: bold;
	width: max-content;
	color: rgb(140, 7, 7);
}

.modal {
	position: absolute;
	min-width: 20rem;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border: var(--small-border);
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 1f 1fr;
	grid-template-rows: 1fr 1fr var(--header-height);
	gap: 1.5rem;
	text-align: center;
	padding: calc(Var(--header-height) / 2);
	transition: scale 300ms ease, opacity 200ms ease;
	z-index: 1;
}

.modal > .modal-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.modal > .modal-message > .highlighted {
	font-size: 2rem;
	font-weight: bold;
}

.modal.obscured {
	scale: 0.95;
	opacity: 0;
	pointer-events: none;
}

.modal .button-area {
	align-items: center;
	justify-content: center;
}

.modal button:not(.red) {
	padding: 1rem 3rem;
}

.modal#delete-modal {
	background-color: rgb(223, 205, 205);
}

@keyframes flash-on {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}