@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="view-header"><h2>Are you sure you want to delete <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span>?</h2></div>

<div class="view-body delete">

@using (Html.BeginForm())
{
  <div class="form-row">
    <button class="red" type="submit">Delete</button>
  </div>
}

</div>

<div class="button-area">
  <a href='@Url.Action("Details", new { id = Model.EngineerId })'>
    <button>Cancel</button>
  </a>
</div>