@{
  Layout = "_Layout";
}

<h2>Factory Dashboard</h2>

<div class="button-area">
  <a href='@Url.Action("Index", "Engineers")'>
    <button>See all Engineers</button>
  <a href='@Url.Action("Index", "Machines")'>
    <button>See all Machines</button>
  </a>
</div>