@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class="view-body home">

<div class="dashboard-section">
  <h3>Engineers</h4>
  <ul class="capsule-list engineer-list">
  @foreach (Engineer engineer in ViewBag.engineers)
    {
      <li>@Html.ActionLink($"{engineer.FirstName} {engineer.LastName}", "Details", "Engineers", new { id = engineer.EngineerId })</li>
    }
  </ul>
</div>

<div class="dashboard-section">
  <h3>Machines</h4>
  <ul class="capsule-list machine-list">
    @foreach (Machine machine in ViewBag.machines)
    {
      <li>@Html.ActionLink($"{machine.Manufacturer} {machine.Model}", "Details", "Machines", new { id = machine.MachineId })</li>
    }
  </ul>
</div>

</div>

<div class="button-area">
  <a href='@Url.Action("Index", "Engineers")'>
    <button>Manage Engineers</button>
  <a href='@Url.Action("Index", "Machines")'>
    <button>Manage Machines</button>
  </a>
</div>